/*
-----------------------------------------
Spacing
-----------------------------------------
*/

@each $space in $space-amounts {

	// All Sides
	.u-m-#{$space} {
		margin: rem($space) !important;
	}
	.u-p-#{$space} {
		padding: rem($space) !important;
	}

	// By Side
	@each $side in $space-sides {
		.u-m#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: rem($space) !important;
		}
		.u-p#{str-slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: rem($space) !important;
		}
		.u-nm#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: rem(-$space) !important;
		}
	}

	// By Direction
	@each $direction in $space-directions {
		@if $direction == y{
			.u-m#{$direction}-#{$space} {
				margin-top: rem($space) !important;
				margin-bottom: rem($space) !important;
			}
			.u-p#{$direction}-#{$space} {
				padding-top: rem($space) !important;
				padding-bottom: rem($space) !important;
			}
			.u-nm#{$direction}-#{$space} {
				margin-top: rem(-$space) !important;
				margin-bottom: rem(-$space) !important;
			}
		}@else{
			.u-m#{$direction}-#{$space} {
				margin-left: rem($space) !important;
				margin-right: rem($space) !important;
			}
			.u-p#{$direction}-#{$space} {
				padding-left: rem($space) !important;
				padding-right: rem($space) !important;
			}
			.u-nm#{$direction}-#{$space} {
				margin-left: rem(-$space) !important;
				margin-right: rem(-$space) !important;
			}
		}
	}
}

/*
-----------------------------------------
Row Spacing
-----------------------------------------
*/

.row-spacing{ 
	margin-bottom: rem(- map-get($row-spacing, null));
	@include respond-below(md){
		margin-bottom: rem(- map-get($row-spacing, md));
	}
    [class^="col-"],
    [class*=" col-"] {
		margin-bottom: rem(map-get($row-spacing, null));
		@include respond-below(md){
			margin-bottom: rem(map-get($row-spacing, md));
		}
	}
	
	&.has-borders{
		padding-top: rem(40px);
		margin: rem(-30px);
		[class^="col-"],
    	[class*=" col-"] {
			padding: 0 rem(30px);
			border-top: rem(1px) solid $color-line--light;
			&:before{
				content: '';
				position: absolute;
				width: rem(1px);
				top: rem(35px);
				bottom: rem(10px);
				left: 0;
				background-color: $color-line--light;
			}

			@include respond-below(md){
				border-bottom: rem(1px) solid $color-line--light;
				border-top: none;
				&:before{
					content: none;
				}
			}
		}

	}
}

/*
-----------------------------------------
Section Spacing
-----------------------------------------
*/

.section-spacing{
    @include spacing-first-last($section-spacing)
}

/*
-----------------------------------------
Field Spacing
-----------------------------------------
*/

.field-spacing{
	position: relative;
	@include spacing-first-last(map-get($field-spacing, null));
	@include respond-below(md){
		@include spacing-first-last(map-get($field-spacing, md))
	}
}

/*
-----------------------------------------
Text Colors
-----------------------------------------
*/

@each $alias, $color in map-merge($theme-colors, $text-colors) {
	.color-#{$alias}{
		color: $color !important;
	}
}

/*
-----------------------------------------
Background Colors
-----------------------------------------
*/

@each $alias, $color in map-merge($theme-colors, $background-colors) {
	.bgcolor-#{$alias}{
		background-color: $color !important;
		color: set-color($color) !important;;
	}
}


/*
-----------------------------------------
Font Weight
-----------------------------------------
*/

@each $alias, $weight in $font-weight {
	.fw-#{$alias}{
		font-weight: $weight !important;
	}
}

/*
-----------------------------------------
Font Size
-----------------------------------------
*/

.fz-sm							{font-size: 85% !important;}
.fz-lg							{font-size: 120% !important;}


/*
-----------------------------------------
Prevent Scroll
-----------------------------------------
*/

.no-lg-scroll{
	@include respond-below(lg){
		position: relative;
		overflow: hidden;
	}
}

/*
-----------------------------------------
Position
-----------------------------------------
*/

.tl-absolute{
	position: absolute;
	top: 0;
	left: 0;
}