/*
-----------------------------------------
Hero
-----------------------------------------
*/
.hero{
   position: relative;
   height: 500px;
   &__content{
       z-index: 2;
       position: relative;
   }
    &__img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background-color: rgba($white, 0.15);
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -2;
            object-fit: cover;
        }
    }
}